<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD NEW USER</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Enter the new users details</h2>
    <form method="post"action="/user/add">
        <textarea name="id" id="" cols="30" rows="2" placeholder="enter your id"></textarea>
        <textarea name="username" id="" cols="30" rows="2" placeholder="username"></textarea>
        <textarea name="email" id="" cols="30" rows="2" placeholder="enter your email"></textarea>
        <textarea name="password" id="" cols="30" rows="2" placeholder="enter your password"></textarea>
        <br>
       <button>Add new user</button>
    </form>
    
</body>
</html>